<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670814806389-mhc17ugbbd91ulcmhpr0qsbnt693efpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670814806389-mhc17ugbbd91ulcmhpr0qsbnt693efpu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670814806389-l5il1ijn40dnhdp47opbpuv55a6qk6pt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAodcsLy1GpZ0zMBY1YNMiEVDQqHbIQlaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>670814806389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lestari.user.erecycle</string>
	<key>PROJECT_ID</key>
	<string>erecycle-lestari</string>
	<key>STORAGE_BUCKET</key>
	<string>erecycle-lestari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670814806389:ios:3725bb5742925d5bd2b33c</string>
	<key>DATABASE_URL</key>
	<string>https://erecycle-lestari.firebaseio.com</string>
</dict>
</plist>